[Unit]
Description=Syntropd Sandboxed Action and Diagnostic Execution Varlink Socket
Documentation=https://github.com/syntropd/toold
PartOf=toold.service

[Socket]
ListenStream=/run/syntrop/io.syntrop.Tool1
SocketMode=0660
SocketUser=root
SocketGroup=syntrop
DirectoryMode=0755
PassCredentials=yes
PassSecurity=yes

[Install]
WantedBy=sockets.target
